src/main/mule/cpa-product-check-sf-to-jde.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<flow name="cpa-product-check-sf-to-jdeFlow" doc:id="42394842-d1cc-420f-ad8b-648e152e8b56" >
		<logger level="INFO" doc:name="Logger" doc:id="c21f1d82-66e2-4971-873f-55a2fc7c5724" message="#[payload]"/>
		<ee:transform doc:name="input payload" doc:id="3e513c3a-6598-4808-adfc-ae37649bf41a">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="PartId"><![CDATA[attributes.queryParams."PartId"]]></ee:set-variable>
				<ee:set-variable variableName="SFID"><![CDATA[attributes.queryParams."SFID"]]></ee:set-variable>
				<ee:set-variable variableName="ShipTo"><![CDATA[attributes.queryParams."ShipTo"]]></ee:set-variable>
				<ee:set-variable variableName="queryparam" ><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e206ceb3-86f5-4868-abdf-4d8cf76864bd" message="#[vars.queryparam]"/>
		<ee:transform doc:name="Transform Message" doc:id="b681bd99-5fe2-4ef3-835d-597d954caa2a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
ns soapenv http://schemas.xmlsoap.org/soap/envelope/
ns ntn http://ntnusa.e1.bssv.JP57CPQ1/
output application/xml
---
{
	soapenv#Envelope: {
		soapenv#Header: {
		},
		soapenv#Body: {
			ntn#getPartsDetail: {
				parts:{
					part:  vars."PartId"  ,
					requestQuantity: vars."Qty",
				    shipTo: vars."ShipTo"
			
				}
				
				}
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<try doc:name="Try" doc:id="5f2f5002-ffb2-4369-99a4-977cc8650362" >
			<wsc:consume operation="getPartsDetail" doc:id="6bd042f0-2e64-4e60-b2b8-e172b7971a10" config-ref="Web_Service_Consumer_Config" target="consumerResponse" doc:name="business function call" />
			<logger level="INFO" doc:name="after business function call" doc:id="66fbf27b-ce69-4732-b006-7df8c03b4c9b" message='#[output application/json&#10;---&#10;vars.consumerResponse.body]' />
			<ee:transform doc:name="response" doc:id="e22e163e-e827-4159-a37b-03a0cd7ea0d8" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var branchQuantitiesArray = vars.consumerResponse.body.getPartsDetailResponse.partDetails.*"branchQuantities" 
var partDetails = vars.consumerResponse.body.getPartsDetailResponse.partDetails - "branchQuantities"
var excessFileds = vars.consumerResponse.body.getPartsDetailResponse - "partDetails"      
---
{
    "responseDetailParts" : excessFileds ++ {
         
        "partDetails" : [partDetails ++ "branchQuantities": branchQuantitiesArray],
         
        }
    
}
]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="62c3cd70-1c80-42c3-8967-71ccb13a22fc" message="#[payload]"/>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="4db7cf64-4b20-48cb-b770-433a2e37d4e1" type="ANY" >
					<ee:transform doc:name="Transform Message" doc:id="03ffdf7c-7cab-4710-9ffb-890608ffd048">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
error.exception.detailMessage]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<email:send doc:name="Send" doc:id="7edc7ba6-3c16-46f5-8f7b-1c76f830ece1" config-ref="Email_SMTP1" fromAddress="${secure::smtp.user}" subject="#[&quot;*** E-mail Notification: &quot; ++ p('app.env') ++ &quot; Kind Attention *** Error Alert in  &quot; ++ p('app.name')]" toAddresses="p('smtp.to') splitBy &quot;,&quot;">
						<email:body contentType="text/html" encoding="UTF-8">
							<email:content><![CDATA[#[%dw 2.0
output application/xml
skipNullOn="everywhere"

---
{
    "html":{
        "body":{
            "div" @(class:"total"):{
                "div" @(class:"header"):{
                    "h2":"Alert from Mulesoft"
                },
                "div" @(class:"content"):{
                    "p": "Hi,",
                    "p": "Greetings!!!",
					"p": "Error while processing, please take corrective action."
                },

                "div":{
                    "table" @(width:'40%', border:'1', cellspacing:'0'): {
							"tr":{
                                "th": "InterfaceName",
                                "td": p('app.name')
                            },
                          "tr":{
                                "th": "Error Type",
                                "td": if ( error.errorType.asString != null) error.errorType.asString else vars.error
                            },
                          "tr":{
                                "th": "Salesforce Id",
                                "td": vars.id
                            },
                          "tr":{
                                "th": "Error Message",
                                "td": payload
                            }
                                                     
				
                        }
                }
            }
        }
    }
}]]]></email:content>
						</email:body>
					</email:send>
					<logger level="INFO" doc:name="email response" doc:id="0f098ca5-1f68-464d-b2f0-9d40c82362ec" message="#[payload]" />
					<ee:transform doc:name="error response" doc:id="fabf25cf-a19a-40b8-91ea-208ad1a8d4a1" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns soapenv http://schemas.xmlsoap.org/soap/envelope/
ns sforce http://soap.sforce.com/2005/09/outbound

---
{
  'soapenv:Envelope' @('xmlns:soapenv': "http://schemas.xmlsoap.org/soap/envelope/"): {
    'soapenv:Body': {
      'notificationsResponse' @('xmlns': "http://soap.sforce.com/2005/09/outbound"): {
        Ack: "false"
      }
    }
  }
}
]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</on-error-propagate>
			</error-handler>
		</try>
	</flow>
</mule>
